@import "../../scss/_variables.scss";
@import "../../scss/_mixin.scss";

.teams__box {
    padding: 60px 0;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    min-height: 300px;
    position: relative;
}

.club {
    flex: 0 0 20%;
    width: 20%;
}
.clubBox {
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    min-height: 300px;
}
.club__container {
    padding: 15px;
}
.club__logo {
    width: 150px;
    height: 150px;
    margin: auto auto 15px;
}
.club__logo img {
    width: 100%;
    height: auto;
}
.club__name {
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    color: #15418c;
    text-transform: uppercase;
    line-height: 1;
}

.tab__list {
    justify-content: flex-start;
    align-items: center;
    height: 30px;
    border-bottom: 1px solid #ca042a;
}
.tab__list li {
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}
.tab__list li.active,
.tab__list li:hover {
    background-color: #15418c;
}
.tab__list li.active a,
.tab__list li:hover a {
    color: #ffffff;
}
.tab__list li a {
    justify-content: center;
    align-items: center;
    height: 100%;
    color: rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}
