@import "../../scss/variables";
@import "../../scss/mixin";
.players {
    padding: 60px 0px;

    .top {
        margin-bottom: 10px;
        @extend %flexbox;
        align-items: center;
        justify-content: space-between;
    }
    &List {
        &__container {
            @extend %flexbox;
            justify-content: flex-start;
            align-items: flex-start;
            flex-wrap: wrap;
            margin: 0px -10px;
            min-height: 600px;
        }
    }
}
